@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/proximanova_regular.ttf") format("truetype");
}

body {
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Proxima Nova";
}

/* Typography */

h1,
h2,
h3,
p,
th,
td {
  margin: 0;
}

h1,
h3,
label,
.calculate-btn {
  font-family: "Big Shoulders Stencil Text", sans-serif;
}

h1 {
  font-size: 3.25rem;
}

.top-section p,
nav a {
  font-size: 0.75rem;
}

label {
  color: #111f5a;
  font-size: 0.95rem;
  font-weight: bold;
  margin-bottom: 0.25em;
}

h3 {
  color: #7c1717;
  font-size: 0.95rem;
}

h1,
.top-section p {
  margin: 0 1.25rem;
}

nav,
footer {
  background-color: #7c1717;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 15px;
  max-width: 900px;
  margin: 0 auto;
}

nav img {
  width: 60px;
  height: 36px;
}

.nav-container a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  padding: 4px 6px;
}

.nav-container a:hover {
  background-color: #631111;
}

footer {
  padding-top: 1em;
}

footer p {
  color: #fff;
  font-size: 0.7rem;
  padding-bottom: 1.75em;
}

.top-section img {
  width: 100%;
  display: none;
}

.top-section {
  color: #fff;
  background-color: #111f5a;
}

.top-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.top-section h1,
.top-section p {
  align-self: flex-start;
}

.calculator {
  color: #000;
  background-color: #fff;
  border: 3px solid #c9960f;
  padding: 0 0.25em;
  margin: 50px 0;
  border-radius: 20px;
  height: 280px;
  width: 200px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
}

input[type="date"] {
  color: #111f5a;
  text-transform: uppercase;
  font-size: 0.65rem;
  border: 1px solid #7c1717;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 0.25em 0;
}

label {
  align-self: flex-start;
}

.calculate-btn {
  margin: 0.75em 0;
  background-color: #c9960f;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 0.25em 0.35em;
}

.result {
  margin-bottom: 1em;
}

.result h3 {
  margin-bottom: 1em;
}

.bottom-section {
  display: none;
}

footer {
  width: 100%;
}

footer p {
  text-align: center;
}

@media (min-width: 769px) {
  nav,
  footer {
    background-color: #fff;
    border: 3px solid #c9960f;
    box-sizing: border-box;
  }

  .nav-container img {
    width: 75px;
    height: 50px;
  }

  .nav-container a {
    color: #000;
    border: 1px solid #000;
  }

  .nav-container a:hover,
  .nav-container a:active {
    box-shadow: inset;
    background-color: #e4d9d9ce;
  }

  .top-section-content {
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
  }

  .top-section img {
    display: block;
    width: 90px;
  }

  .hero-text-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    /* align-self: baseline; */
  }

  .hero-text-container h1 {
    width: 50px;
  }

  .calculator {
  padding: 0 2em;
  height: 300px;
  width: 230px;
}

.calculate-btn {
  font-size: 1em;
  padding: 0.35em 0.55em;
}
  
input[type="date"] {
  font-size: 0.85rem;
}

label, .result h3 {
font-size: 1.1rem;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #631111;
    color: #fff;
    width: 100%;
    padding: 2em 0;
  }
  
  table,
  th,
  td,
  th {
    border: 1px solid #fff;
  }

  th,
  tr,
  td {
    padding: 0.5em 0.75em;
  }

  .age-group-rules {
    max-width: 900px;
    font-size: 0.75rem;
    margin-top: 1em;
  }

  footer p {
    color: #000;
  }
}
